{% extends "base.html" %}
{% load staticfiles %} 

{% block extra_css %}
    <link href="/static/vendors/bootgrid/jquery.bootgrid.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Query List </h2>
        </div>
        
        <table id="data-table-command" class="table table-striped table-vmiddle">
            <thead>
                <tr>
                    <td data-column-id="id" data-identifier="true" data-type="numeric">ID</td>
                    <th data-column-id="query">Query</th>
                    <th data-column-id="run_at">Last Updated</th>
                    <th data-column-id="created_at">Created</th>
                    <th data-column-id="commands" data-formatter="commands" data-sortable="false">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for item in queries %}
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.query}}</td>
                    <td>{{item.run_at}}</td>
                    <td>{{item.created_at}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>              
</div>
{% endblock %}

{% block extra_js %}
    <script src="/static/vendors/bootgrid/jquery.bootgrid.updated.min.js"></script>
    
    <!-- Data Table -->
    <script type="text/javascript">
        $(document).ready(function(){
            //Command Buttons
            var grid = $("#data-table-command").bootgrid({
                caseSensitive: false,
                css: {
                    icon: 'zmdi icon',
                    iconColumns: 'zmdi-view-module',
                    iconDown: 'zmdi-expand-more',
                    iconRefresh: 'zmdi-refresh',
                    iconUp: 'zmdi-expand-less'
                },
                formatters: {
                    "commands": function(column, row) {
                        action_html = "<button type=\"button\" class=\"btn btn-icon command-edit waves-effect waves-circle\" data-row-id=\"" + row.id + "\"><span class=\"zmdi zmdi-edit\"></span></button> ";
                            action_html += "<button type=\"button\" class=\"btn btn-icon command-delete waves-effect waves-circle\" data-row-id=\"" + row.id + "\"><span class=\"zmdi zmdi-delete\"></span></button>";
                        return action_html;                         
                    },
                }
            }).on("loaded.rs.jquery.bootgrid", function() {
                /* Executes after data is loaded and rendered */
                grid.find(".command-edit").on("click", function(e)
                {
                    location.href = "/Admin/token/"+$(this).data("row-id")+"/";
                }).end().find(".command-delete").on("click", function(e) {
                    var item_id = $(this).data("row-id");
                    //Warning Message
                    swal({   
                        title: "Are you sure?",   
                        text: "You will not be able to recover this item!",   
                        type: "warning",   
                        showCancelButton: true,   
                        confirmButtonColor: "#DD6B55",   
                        confirmButtonText: "Yes, delete it!",   
                        closeOnConfirm: false 
                    }, function(){   
                        $.get('/Admin/token/'+item_id+'/delete/')
                        .success(function(data){
                            swal({title:"Deleted!", text:"The token has been deleted.", type:"success"}, 
                                function() { location.href = "/Admin/token/"; });                             
                        });
                    });
                });
            });
        });
    </script>
{% endblock %}
