{% extends "base.html" %} {% load staticfiles %} {% block extra_css %}
<link href="/static/vendors/bootgrid/jquery.bootgrid.min.css" rel="stylesheet"> {% endblock %} {% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Query List </h2>
        </div>
        <div class="card-body card-padding">
            <form class="row query_form" role="form" method="POST">
                <div class="col-sm-3">
                    <div class="form-group fg-line">
                        <input type="text" class="form-control input-sm" placeholder="New Query" required="" id="q">
                    </div>
                </div>
                <div class="col-sm-2">
                    <button type="submit" id="btn-query" class="btn btn-primary btn-sm m-t-5">Search</button>
                </div>
                <div class="col-sm-2">
                <div class="preloader pls-blue hidden query-preloader">
                    <svg class="pl-circular" viewBox="25 25 50 50">
                        <circle class="plc-path" cx="50" cy="50" r="20"/>
                    </svg>
                </div>
                </div>
            </form>

        </div>
        <table id="data-table-command" class="table table-striped table-vmiddle">
            <thead>
                <tr>
                    <td data-column-id="id" data-identifier="true" data-type="numeric">ID</td>
                    <th data-column-id="query" data-formatter="query" >Query</th>
                    <th data-column-id="run_at">Last Updated</th>
                    <th data-column-id="created_at">Created</th>
                    <th data-column-id="commands" data-formatter="commands" data-sortable="false">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in queries %}
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.query}}</td>
                    <td>{{item.run_at}}</td>
                    <td>{{item.created_at}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %} {% block extra_js %}
<script src="/static/vendors/bootgrid/jquery.bootgrid.updated.min.js"></script>
<script src="/static/js/fb_post.js"></script>
<!-- Data Table -->
<script type="text/javascript">
var csrf_token = '{{ csrf_token }}';

$(document).ready(function() {
    //Command Buttons
    var grid = $("#data-table-command").bootgrid({
        caseSensitive: false,
        css: {
            icon: 'zmdi icon',
            iconColumns: 'zmdi-view-module',
            iconDown: 'zmdi-expand-more',
            iconRefresh: 'zmdi-refresh',
            iconUp: 'zmdi-expand-less'
        },
        formatters: {
            "commands": function(column, row) {
                action_html = "<button type=\"button\" class=\"btn btn-icon command-refresh waves-effect waves-circle\" data-row-id=\"" + row.id + "\"><span class=\"zmdi zmdi-refresh\"></span></button> ";
                return action_html;
            },
            "query": function(column, row) {
                return "<a href=\"/post/"+row.query+"\">"+row.query+"</a>";
            }
        }
    }).on("loaded.rs.jquery.bootgrid", function() {
        /* Executes after data is loaded and rendered */
        grid.find(".command-refresh").on("click", function(e) {
            location.href = "/#/" + $(this).data("row-id") + "/";
        });
    });
});
</script>
{% endblock %}
